@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.main{
  background-color: #111;
}
@keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-100%); }   
100% { opacity: 1; -webkit-transform: translateY(0); }
}
.App{
  opacity: 1;
}
.outer {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width:100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}
.sign,.log{
  /* font-size: xx-large; */
  /* animation: slide-down 2s ease-in; */
  font-family: 'Pacifico', cursive;
}
